.blogs{
}

.right-section {
    width: 300px; 
    background-color: #f8f9fa;
    padding: 20px;
    border-left: 1px solid #ddd;
  }
  
  .right-section .section {
    padding: 24px 16px;
  }
  
  .right-section .section h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .right-section .section ul {
    list-style-type: none;
    padding: 8px 0px;
    font-size: 14px;
    color: #333333;
  }
  
  .right-section .section ul li {

    padding: 8px 0px;
  }
  