@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


.stack-index{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 85vh;
    width: 100%;
}

.stack-index-content{
    display: flex;
    width: 100%;
    justify-content: center;
}