.main{
    display: flex;
    padding: 30px 32px;
    flex: 1 1 70%;
    flex: 0.75;
    flex-direction: column;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main-top > h2 {
    font-weight: 500;
    font-size: 20px;
    color:#131313;
}

.ask-question{
    background-color: #0196FF;
    color: #fff;
    border: 2px solid #007cd446;
    border-radius: 1000px;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 32px;
}

.main-desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    margin-top: 10px;
}

.main-filter{
    display: flex;
    align-items: center;
}

.main-tabs{
    display: flex;
    font-size: 12px;
    font-weight: 500;
}

.main-tab-active{
    padding: 8px 16px;
    color: #fff;
    background-color: #FF6E01;
    margin-inline-start: 8px;
    border-radius: 1000px;
}

.main-tab{
    padding: 8px 8px;
    margin-inline-start: 8px;
    border-radius: 1000px;
}

.questions{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.question{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    border-radius: 1px solid #eee;
    width: 100%;
}