@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


header{
    min-width: fit-content;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1000;
    min-height: 5vh;
    font-family: 'Montserrat', sans-serif;
}

.header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(255, 255, 255);
    padding: 24px 0px;
}

.header-left{
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    align-items: center;
}

.header-left > img {
    width: 150px;
    object-fit: contain;
    padding: 0;
}

.header-middle{
    display: flex;
     flex-direction: row;
  align-items: center;
  width: 500px;
}

.header-search-container{
    display: flex;
    padding: 10px 10px;
    width: 300px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 100000px;
    border: 1px solid rgba(34, 34, 34, 0.233);
}

.header-search-container > input {
    border: none;
    width: 100%;
    margin-left: 5px;
    outline: none;
}

.header-search-container > .MuiSvgIcon-root {
    color:#ccc;
}

.header-middle > h3{
    font-weight: 400px ;
    font-size: 14px;
    margin: 0px 10px;
}

.header-right{
    display: flex;
}

.header-right-container{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

